<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  
  <appSettings>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=garrettwongstorage;AccountKey=TBmtgxo50prgvGRAqjv+kQGdQQu1jmZEr09BJNB9xErPcpJayQRjOKP8bL1kK9l17f/a8cL0EdruevtRnjPl/w==" />

    <!-- use this key for the default azure storage emulator -->
    <!--<add key="StorageConnectionString" value="UseDevelopmentStorage=true;" />-->
  </appSettings>
  
</configuration>